{% extends 'home/base.html' %}
    {% block content %}
        <div class="container-fluid">
            <h1 class="display-4">Past Performances</h1>
        </div>
        <div class="jumbotron jumbotron-fluid">
        <div class="container">
                <h1 class="display-4">Create</h1>
            <p class="lead"><a href="/home/dashboard/create">Create your courses here.</a></p>
            </div>
        </div>
        <div class="container-fluid">
            {% for crs in course_items %}
                <div class="container-fluid">
                    <p><a href="/home/{{ crs.id }}">{{ crs.course_name }}</a></p>
                </div>
            {% endfor %}
        </div>
    {% endblock %}